@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Merienda:wght@300;600&display=swap");
:root {
	--coral: #f05d5e;
	--teal: #0f7173;
	--light: #e7ecef;
	--dark: #272932;
	--camel: #d8a47f;
}

.pagetitle {
	font-family: "Merienda", cursive;
}

.subtitle {
	font-family: "Merienda", cursive;
	font-weight: 300;
}

.details {
	width: 95%;
	margin: auto;
	margin-bottom: 10px;
}

.card-container {
	display: grid;
	margin: auto;
	width: 75%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

h3 {
	font-size: 1.25rem;
}

p {
	font-family: "Golos Text", sans-serif;
}

.card {
	font-family: "Golos Text", sans-serif;
	border: black 2px solid;
	display: grid;
	box-shadow: 1px 2px black;
}

.cat-name {
	grid-column: 1;
	grid-row: 1;
	place-self: center;
	text-transform: capitalize;
	text-shadow: 1.15px 1.5px gray;
	text-decoration: solid 1px black;
}

.pet-pic {
	grid-column: 1;
	grid-row: 2;
	place-self: center;
	border: 3px solid black;
	box-shadow: 2px 2px black;
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin: 10px;
}

.cat-details {
	grid-column: 1 2;
	grid-row: 3;
}
.cat-details p {
	margin: 3px;
}
.cat-details p:first-child {
	margin-top: 10px;
}

body {
	background-color: var(--light);
}

h1 {
	font-size: 2.25rem;
}

p {
	font-size: 0.75rem;
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
	h1 {
		font-size: 3rem;
	}

	p {
		font-size: 1.1rem;
	}

	.card-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1000px) {
	h1 {
		font-size: 3.25rem;
	}

	.card-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	p {
		font-size: 1.2rem;
	}
}
